::-webkit-scrollbar {
  width: 0px;
}

.bg-wildlife {
  background: url(../assets/bggreen.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-contact {
  background: url(../assets/contactbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.skeleton {
  background: linear-gradient(-90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.skeleton-text {
  background: #e0e0e0;
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.bg-alert{
  background-color: rgba(0, 0, 0, 0.689) !important;
}