:root {
	--background: #005;
	--primary: #88D5BF;
	--secondary: #5D6BF8;
	--third: #e27fcb;
}

* {
  box-sizing: border-box;
}
.location{
    width: 100%;
    overflow: hidden;
    
}

// .our-bg{
//     border-radius: 40px;
//     background: url(https://static.vecteezy.com/system/resources/previews/003/681/129/non_2x/light-green-water-color-texture-background-free-photo.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
// }
.shape {
  background: url(../assets/khmerFood.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  height: 320px;
  width: 320px;
  z-index: 5;
}

@media (min-width: 992px) {
    .shape{
        height: 350px;
        width: 80%;
    }
}
@keyframes morph {
  0% {
			border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
			background: url(../assets/khmerFood.png);
            background-size: cover;
            background-repeat: no-repeat;
            transform: scale(1.1);
	} 
	
	50% {
			border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
			background: url(../assets/khmerFood.png);
            background-size: cover;
            background-repeat: no-repeat;
            transform: scale(1);
	}
  
	100% {
		border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
		background: url(../assets/khmerFood.png);
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(1.1);
	} 
}
